<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="script/angular.min.js"></script>
    <script>
        var module=angular.module("myModule",[]);
        module.controller("myController",function($scope,$http)
        {
            $scope.dofetch=function()
            {
                var url="/get-json-record-donors-admin";
                $http.get(url).then(done,fail);
                function done(response)
                {
                    alert(JSON.stringify(response.data));
                    $scope.jasonArray=response.data;
                }
                function fail(response)
                {
                    alert(response.data);
                }
            }
    })
    </script>
</head>
<body ng-app="myModule" ng-controller="myController">
    <center>
        <input type="button" value="fetchRecords" ng-click="dofetch()">
        <table width="1200" border="1">
            <th>Sr no.</th><th>Email</th><th>name</th><th>contact</th><th>address</th><th>city</th><th>id</th><th>filename</th><th>ahours</th>
            <tr ng-repeat="obj in jasonArray">
                <td>{{$index+1}}</td>
                <td>{{obj.email}}</td>
                <td>{{obj.name}}</td>
                <td>{{obj.contact}}</td>
                <td>{{obj.address}}</td>
                <td>{{obj.city}}</td>
                <td>{{obj.id}}</td>
                <td align="center">
                    <img src="uploads/{{obj.filename}}" alt="" width="100px" height="100px">
                </td>
                <td>{{obj.ahours}}</td>
                
            </tr>
        </table>
    </center>
</body>
</html>